.section_1{
    h1{
        font-size: ($font_size + 5)
    }
    p{
        padding-bottom: ($space_padding*4); 
        padding-top: $space_padding ; 
        font-size: ($font_size - 10)
    }
    @include display_flex_just_start;
     .container_hero_img{
         width: 460px;
         .hero_img{
             width: 100%;
             object-fit: contain;
         }
     }
}
.container_logs{
    @include btn_logo_style;
}

.btn_style{
    display: inline-block;

    :hover{
        background-color: rgb(24, 24, 138);
        @include transition;
    }
    button{
        background-color: $persian_blue;
        color: white;
    }
   
}
.span_style{
    display: block;
    padding: $space_padding 0px ; 
}


// seccond section e third_section


.seccond_section,.third_section{

    div{
        h4{
            padding: $space_padding*3;
        }
    }
    text-align: center;
   
    background-color: $color_section;
    .img_sec_container{
        @include display_flex_just_center;
        padding: $space_padding*3;
        img{
           @include size_img;
        }
    }
    .img_before{
        img{
            @include size_before_after;
            padding: $space_padding*5;
        }
    }
}
.border_style{
    max-width: 920px;
    margin: auto;
    margin-top: -1px;
    border-bottom: 1px solid $text_color;
}
.third_section{
    div{
        p{
            font-size: $font_size - 15;
        }
    }
}

// fourth_section

.fourth_section{
    @include display_flex_just_start;
    .style_general_img{
        img{
            width: 500px;
            height: 350px;
            object-fit: contain;
        }
    }
    .style_general_img_2{
        width: 350px;
        h4{
            padding: $space_padding *2 0px;
        }
        p{
            padding: $space_padding 0;
            
            font-size: $font_size - 9;
        }
        div{
            a{
              @include a_style_reset ; 
            }
        }
        img{
            width: 220px;
            height: 220px;
            object-fit: contain;

        }
        
    }
}

.fife_section{
    @include display_flex_just_end;
    .style_general_img{
        img{
            width: 500px;
            height: 350px;
            object-fit: contain;
        }
    }
    .style_general_img_2{
        width: 350px;
        h4{
            padding: $space_padding *2 0px;
        }
        p{
            padding: $space_padding 0;
            
            font-size: $font_size - 9;
        }
        div{
            a{
              @include a_style_reset ; 
            }
        }
        img{
            width: 220px;
            height: 220px;
            object-fit: contain;

        }
        
    }
}

// last section 

.six_section{
    .co_founders{
       @include display_flex_just_start;
       img{
           padding: $space_padding;
       }
    }
    div{
        h5{
            text-align: initial;
            color: $electric_violet;
        }
        span{
            em{
                color: $black_color;
            }
           
        }
    }
}

.six_section{
    
    .container_down_btn{
        padding: $space_padding*3;
       
    }
    div{
        h2{
            padding: $space_padding*4;
            color: $black_color;
        }
    }
    .paragraf_container{
        max-width: 600px;
        margin: auto;
        background-color: white;
        border: solid 1px $black_color;
        border-radius: 10px;

        p{
            font-size: $font_size - 15px;
            text-align: initial;
            color: black;
            padding: $space_padding;
        }
    }
}