@mixin reset-list-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin a_style_reset {
    text-decoration: none;
    color: $electric_violet;
    
}

@mixin transition {
    transition: 0.3s;
}


@mixin btn_logo_style {
    width: 20px;
    height: 20px;
    position: absolute;

    top: $space_padding - 5;
    left: $space_padding - 5;
}

@mixin display_flex_just_start {
    display: flex;
    justify-content: start;
    align-items: center;
}
@mixin display_flex_just_center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin display_flex_just_end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin size_img {
    width: 150px;
    height: 150px;
    object-fit: contain ; 
}
@mixin size_before_after {
    width: 250px;
    height: 250px;
    object-fit: contain ; 
}


